[submodule "submodules/Connected_components_PyTorch"]
	path = submodules/Connected_components_PyTorch
	url = https://github.com/zsef123/Connected_components_PyTorch.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
	